.chat-message {
  font-size: 1.2rem;
  padding: 2% 5% 3% 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.5em;
  color: white;
  position: relative;
  min-width: 10rem;
  width: fit-content;
  max-width: 24rem;
}
.chat {
  background: linear-gradient(#6d17cb, #2876f9);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.another-chat {
  background: linear-gradient(#0c0c0c, #2876f9);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.chat-time {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  right: 0;
  padding-right: 2%;
  padding-bottom: 2%;
}
